.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: @basic-green;
  text-align: center;
  width: 100%;
  height: 40px;
  color: @light-color;
}

.button--title {
  font-size: inherit;
  line-height: inherit;
  width: 88%;
  margin: 298px 20px 0 20px;
}

.button--basis {
  font-size: inherit;
  line-height: inherit;
  background-color: #F2F2F2;
  grid-column: 1 / 3;
  color: @dark-grey;
  margin-top: 21px;
  margin-bottom: 25px;
}

.button--additional--offers {
  margin-bottom: 19px;
}

.button--basis {
  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }
}

.button--catalog {
  @media (min-width: @tablet-width) {

  }
}

.button--title {
  @media (min-width: @tablet-width) {
    margin: 0;
    width: 36%;
    margin-top: 35px;
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    width: 19%;
  }
}

.button--catalog {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
  margin-bottom: 25px;
  margin-top: 22px;
  font-size: inherit;
  line-height: inherit;
}

.button--catalog {
  @media (min-width: @tablet-width) {
    grid-row: 6 / 7;
    margin-top: 33px;
    margin-bottom: 39px;
  }
}

.button--additional--offers {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
