.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: #68B738;
  text-align: center;
  width: 280px;
  height: 40px;
  color: @light-color;
}

.button--title {
  font-size: inherit;
  line-height: inherit;
}

.button--basis {
  background-color: #F2F2F2;
}


