.comment__wrapper {
  padding: 0 20px;
  margin-top: 24px;
}

.comment__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 37px;
  position: relative;
}

.comment__title::before {
  content: "";
  position: absolute;
  width: 158px;
  background-color: #68B738;
  height: 2px;
  right: -20px;
  top: 15px;
}

.comment__text {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald";
  text-transform: uppercase;
  color: @dark-grey;
  width: 95%;
  height: 150px;
  padding-left: 15px;
}

.comment__title {
  @media (min-width: @tablet-width) {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 76px;
  }
}

.comment__title::before {
  @media (min-width: @tablet-width) {
    width: 478px;
    top: 25px;
    right: -70px;
  }

  @media (min-width: @desktop-width) {
    width: 1108px;
    top: 25px;
    right: -110px;
  }
}

.comment__title::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 30px;
    background-color: #68B738;
    height: 2px;
    left: -70px;
    top: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
    left: -110px;
    top: 25px;
  }
}

.comment__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 68px;
    margin-top: 65px;
}

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    margin-top: 67px;
  }
}

.comment__text {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 96%;
    height: 174px;
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    width: 98%;
  }
}

textarea#comment-field {
  @media (min-width: @tablet-width) {
    padding-left: 19px;
  }
}
