.details {
  outline: 2px solid orange;
  outline-offset: -2px;
  margin-bottom: 23px;
  padding: 0 20px;
}

.details__wrapper {
  outline: 2px solid red;
  outline-offset: -2px;
}

.details__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  padding-right: 93px;
}

.details__item {
  display: flex;
  justify-content: space-between;
}

.details__item > input {
  flex: 1;
}

.details__item > label {
  margin-right: 10px;
}

.details__item,
.details__item input{
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}

.details__form {
  width: 288px;
}

.details {
  @media (min-width: @tablet-width) {
    padding: 0 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.details__title {
  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

.details__form {
  @media (min-width: @tablet-width) {
     width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 78px;
  }
}

