.example {
  outline: 2px solid plum;
  outline-offset: -2px;
  margin: 0 20px;
  background-color: #EAEAEA;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.example__text {
  color: @dark-grey;
}

.example__item span {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__item p {
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
}

.example__text--offer {
  text-transform: uppercase;
  line-height: 20px;
}
