.page-header {
  padding-top: 10px;
  outline: 2px solid red;
  display: flex;
  flex-direction: column;
  background-color: @light-color;
  margin: 0;
 }

.page-header__logo {
  min-height: 66px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
 }

 .page-header__logo:hover {
   opacity: 0.8;
 }

 .page-header__logo:active {
   opacity: 0.6;
 }

 .page-header__logo-image--pin {
   padding-right: 56px;
 }

.page-header {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 25px 30px 62px 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 65px 110px 0 110px;
    margin: 0;
  }
}
