.page-footer {
  outline: 2px solid brown;
  outline-offset: -2px;
  margin: 0;
}
.page-footer__wrapper {
  background-color: @light-color;
}

.page-footer__address {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.page-footer__text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.page-footer__location {
  line-height: 20px;
  outline: 2px solid red;
  color: @dark-grey;
}

.page-footer__container-icon {
  background-color: #F2F2F2;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;

}

.social__item {
 padding-right: 38px;
}

.social__item:last-child {
  padding-right: 0;
 }

 .page-footer__copyright {
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
  }

.page-footer__copyright p {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}

.page-footer__address {
  @media (min-width: @tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 80px;
    }
  }

.page-footer__text {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.page-footer__location {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
  }
}

.page-footer__container-icon {
  @media (min-width: @tablet-width) {
    width: 92%;
    display: flex;
    justify-content: space-between;
    padding: 58px 30px 55px 30px;
  }

  @media (min-width: @desktop-width) {
     width: 85%;
     padding: 57px 110px 58px 110px;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__copyright p {
  @media (min-width: @tablet-width) {
    padding-right: 22px;
  }
}

