.page-footer {
  outline: 2px solid brown;
  outline-offset: -2px;
  margin: 0;
}

.page-footer__address {
  display: flex;
  background-color: #F2F2F2;
}

.page-footer__text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.page-footer__address p {
  line-height: 20px;
  outline: 2px solid red;
  color: @dark-grey;
}

.page-footer__container-icon {
  background-color: #F2F2F2;
}

.social__list {
  display: flex;
}

.page-footer__copyright p {
  font-size: 16px;
  line-height: 18px;
  color: @dark-grey;
}
