.products {
  outline: 2px solid green;
  outline-offset: -2px;
  margin: 0 20px;
}

.products__title-main {
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 41px;
}

.products__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey;
}

.products__catalog {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.products__text,
.products__text-all {
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;
}

.products__text-all,
.products-image {
  display: block;
}

.products__text-still {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.products__title-main {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.products__title {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.products__text-all {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-family: Arial;
    font-size: 16px;
    line-height: 16px;
  }
}

.products__text-still {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-size: 20px;
   line-height: 22px;
  }
}

.products__text {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
  }
}


