.programs {
  margin: 20px 0 20px 0px;
  background-color: @light-color;
}

.programs__wrapper {
  margin: 0;
  padding: 0 20px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-top: 30px;
  padding-left: 91px;
}

.programs__item {
  color: @dark-grey;
  padding-left: 16px;
  margin-bottom: 20px;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__item--cat {
  background: url(/img/index/cat-sit.svg), #F2F2F2;
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: left 22px top 24px;
}

.programs__item--stalls {
  background: url(/img/index/cat-movement.svg), #F2F2F2;
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position: left 13px top 24px;
}

.programs__text {
  padding-right: 20px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  position: relative;
}

.programs__text::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  background: #D9D9D9;
  right: 20px;
  bottom: -2px;
}

.programs__link {
  font-size: 16px;
  text-transform: uppercase;
  color: @base-color;
  line-height: 16px;
  display: block;
  padding: 19px 0 22px 0;
}

.programs__figure {
  padding-left: 15px;
}

.programs {
  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 82px;
    margin-bottom: 71px;
  }
}

.programs__wrapper {
  @media (min-width: @tablet-width) {
    max-width: 100%;
    margin: 0;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
    padding: 0 110px;
  }
}

.programs__title {
  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-bottom: 73px;
    padding-left: 0;
  }
  @media (min-width: @desktop-width) {
    padding-top: 77px;
    padding-left: 214px;
  }
}

.programs__list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.programs__item {
  @media (min-width: @tablet-width) {
    padding-left: 52px;
    margin-bottom: 30px;
  }
}

.programs__item--cat {
  @media (min-width: @tablet-width) {
    background: url(/img/index/cat-sit.svg), #F2F2F2;
    background-size: 200px 211px;
    background-repeat: no-repeat;
    background-position: right 62px top 81px;
  }

  @media (min-width: @desktop-width) {
    background: url(/img/index/cat-sit.svg), #F2F2F2;
    background-size: 100px 106px;
    background-repeat: no-repeat;
    background-position: left 52px top 47px;
    margin: 0;
  }
}

.programs__item--stalls {
  @media (min-width: @tablet-width) {
    background: url(/img/index/cat-movement.svg), #F2F2F2;
    background-size: 268px 200px;
    background-repeat: no-repeat;
    background-position: right 28px top 91px;
  }

  @media (min-width: @desktop-width) {
    background: url(/img/index/cat-movement.svg), #F2F2F2;
    background-size: 134px 100px;
    background-repeat: no-repeat;
    background-position: left 33px top 47px;
  }
}

.programs__text {
  @media (min-width: @tablet-width) {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    color: @base-color;
    padding: 0 316px 52px 0;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
   padding-right: 51px;
   padding-bottom: 27px;
  }
}

.programs__text::after {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.programs__link {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 59px;
  }
}


