.range-filter span {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.range-filter {
  display: flex;
}

.range-filter span {
  @media (min-width: @tablet-width) and (min-width: @desktop-width) {
    font-size: 20px;
   line-height: 30px;
  }
}
