/*.site-list {
  margin: 0;
  padding: 0;
}

.site-list a {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: block;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 23px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 450px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 512px;
  }
}
*/
