.title {
  outline: 2px solid blue;
  margin: 0 30px 0 29px;
  background-color: rgba(104, 183, 56, 0.85);
  color: #FFFFFF;
}

h1 {
  margin: 0;
  padding: 0;
}

.title__main {
  font-size: 36px;
  line-height: 36px;
  padding-left: 88px;
  padding-right: 207px;
  font-weight: normal;
  color: @light-color;
}

.title__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @light-color;
}
